<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/home">
       
       
        <span>E-mat</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    

    <div #topbarmenu class="layout-topbar-menu"  [class.layout-topbar-menu-mobile-active]="layoutService.state.profileSidebarVisible">
         <div class="flex align-items-center gap-2">
             <span class="p-link">{{authService.getUserFullName() + " (" + authService.getLastRole() + ")"}}</span>
             <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="p-link" shape="circle" (click)="authService.logout()" />
         </div>

       
        

        
    
       
    </div>
</div>