<div class="grid">
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">En panne</span>
                <div class="text-900 font-medium text-xl">{{totalEnPanne}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '3.5rem', height: '3.5rem'}">
                <i class="pi pi-wrench text-blue-500 " style="font-size: 2.3rem"></i>
            </div>
        </div>
        
    </div>
</div>
<div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Neuf</span>
                <div class="text-900 font-medium text-xl">{{totalNeufs}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '3.5rem', height: '3.5rem'}">
                <i class="pi pi-check-circle text-orange-500 " style="font-size: 2.3rem"></i>
            </div>
        </div>
        
    </div>
</div>
<div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">En Service</span>
                <div class="text-900 font-medium text-xl">{{totalEnService}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '3.5rem', height: '3.5rem'}">
                <i class="pi pi-tags text-cyan-500 " style="font-size: 2.3rem"></i>
            </div>
        </div>
       
    </div>
</div>

<!-- Graphique en barres -->
<div class="col-12 lg:col-8">
    <div class="card">
        <h5>Évolution des Matériels par Status</h5>
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
</div>

<!-- Graphique circulaire -->
<div class="col-12 lg:col-4">
    <div class="card">
        <h5>Répartition des Statuts</h5>
        <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
    </div>
</div>

<!-- Tableau des dernières activités -->
<div class="col-12">
    <div class="card">
        <h5>Dernières Activités</h5>
        <p-table [value]="materiels" [rows]="5" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Matériel</th>
                    <th>Status</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-materiel>
                <tr>
                    <td>{{materiel.id}}</td>
                    <td>{{materiel.model}}</td>
                    <td>
                        <p-tag [value]="materiel.status === 0 ? 'Neuf' : materiel.status === 1 ? 'Usagé' : materiel.status === 2 ? 'En Panne' : 'Neuf'" 
                              [severity]="materiel.status === 0 ? 'warning' : 
                                         materiel.status === 1 ? 'success' : 
                                         materiel.status === 2 ? 'info' : 'danger'">
                        </p-tag>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Statistiques des Fournisseurs -->
<div *ngIf="this.admin || this.direxteur" class="col-12">
    <div class="card">
        <h5>Performance des Fournisseurs</h5>
        <p-chart type="bar" [data]="fournisseursChartData" [options]="fournisseursChartOptions"></p-chart>
    </div>
</div>

<!-- Tableau de classement des fournisseurs -->
<div *ngIf="this.admin || this.direxteur"  class="col-12">
    <div class="card">
        <h5>Classement des Fournisseurs</h5>
        <p-table [value]="statsFournisseurs" [rows]="5" [paginator]="true" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fournisseur</th>
                    <th>Total Matériels</th>
                    <th>Taux de Panne</th>
                    <th>Note</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fournisseur>
                <tr>
                    <td>{{fournisseur.nomFournisseur}}</td>
                    <td>{{fournisseur.totalMateriels}}</td>
                    <td>
                        <p-tag [value]="fournisseur.tauxPanne + '%'" 
                              [severity]="getFournisseurStatusSeverity(fournisseur.tauxPanne)">
                        </p-tag>
                    </td>
                    <td>
                        <p-rating [ngModel]="getFournisseurRating(fournisseur)" [readonly]="true" [cancel]="false"></p-rating>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>


